{% load static %}{% static "images" as baseUrl %}
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static 'img/logo2.png' %}" alt="" style="width: 150px;">
                            </a>
                        </div>
                        <p>Võ Quốc Nhật & Nguyễn Phước Hiễn <br>
                            <a href="#">0917725514</a> <br>
                            <a href="#">thanhchau2279@gmail.com</a>
                        </p>
                        <!-- <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/javaboynavin">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Công ty
                        </h3>
                        <ul class="links">
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Ảnh</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Điểm đến phổ biến
                        </h3>
                        <ul class="links double_links">
                            <li><a href="#">Hội An</a></li>
                            <li><a href="#">Tam Kỳ</a></li>
                            <li><a href="#">Quế Sơn</a></li>
                            <li><a href="#">Nông Sơn</a></li>
                            <li><a href="#">Duy Xuyên</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <!-- <h3 class="footer_title">
                            Instagram
                        </h3> -->
                        <div class="instagram_feed">
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/3.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/4.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/5.png' %}" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="#">
                                    <img src="{% static 'img/instagram/6.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>