{% load static %}{% static "images" as baseUrl %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>QN Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'include-files/links.html' %}

</head>

<body>

    <!-- header-start -->
    {% include 'include-files/header.html' %}
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Tam Kỳ</h3>
                                <p></p>
                                <a href="destination_list/Tam Kỳ" class="boxed-btn3">Khám phá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Quế Sơn</h3>
                                <p></p>
                                <a href="destination_list/Quế Sơn" class="boxed-btn3">Khám phá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Hội An</h3>
                                <p></p>
                                <a href="destination_list/Hội An" class="boxed-btn3">Khám phá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Bạn muốn đi đâu?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="{% url 'search' %}" method="POST">
                            {%csrf_token%}
                            <div class="input_field">
                                <input type="text" placeholder="Nhập điểm đến?" name="place">
                            </div>
                            <div class="search_btn">
                                <input class="boxed-btn4 " type="submit" value="Tìm kiếm" style="left: 300px;"/>
                            </div>
                            <div class="form_area">
                                {% for message in messages %}
                                <h3>{{ message }}</h3>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->

    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Điểm đến phổ biến</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for dest in dests %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="/media/pics/{{dest.img1}}" alt="" style="height: 220px;">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{dest.country}}<a
                                    href='destination_list/{{dest.country}} '>{{dest.number}} Tours </a> </p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->

    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Theo dõi chúng tôi</h4>
                                <p>Đăng ký bản tin để nhận ưu đãi và về những địa điểm mới để khám phá.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                            <input type="email" placeholder="Your mail">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit">Đăng ký</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newletter_area_end  -->

    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Tours phổ biến</h3>
                        <!-- <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
                            hella wolf moon beard words.</p> -->
                    </div>
                </div>
            </div>
            <div class="row" id="filteredTours">
                {% for dest in dest1 %}
                <div class="col-lg-4 col-md-6 tour-box">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="/media/pics/tours/{{dest.img1}}" alt="" style="height: 220px;">
                            <a href='destination_details/{{dest.dest_id}}' class="prise">{{dest.price}}VNĐ</a>
                        </div>
                        <div class="place_info">
                            <a href='destination_details/{{dest.dest_id}}'>
                                <h3>{{dest.dest_name}}</h3>
                            </a>
                            <p>{{dest.country}}</p>
                            <div class="rating_days d-flex justify-content-between star-rating">
                                <span class="d-flex justify-content-center align-items-center">
                                    {{dest.rating}}<i class="fa fa-star-o" data-rating="1" style="margin-left: 3px;"></i>
                                    <!-- <i class="fa fa-star-o" data-rating="1"></i>
                                    <i class="fa fa-star-o" data-rating="1"></i>
                                    <i class="fa fa-star-o" data-rating="1"></i>
                                    <i class="fa fa-star-o" data-rating="1"></i> -->
                                    <!-- <a href="#">(20 Review)</a> -->
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href='destination_details/{{dest.dest_id}}'>{{dest.days}} Days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <!-- MORE TOURS -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <!-- <a class="boxed-btn4" href="#">More Places</a> -->
                        <button id="loadMore" data-total="{{total_data}}" data-limit="3" class="boxed-btn4">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Hãy để chúng tôi đưa bạn đi</h3><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                        </div>
                        <h3>Hành trình thoải mái</h3>
                        <p>Mang đến sự thoải mái để bạn tận hưởng chuyến đi.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Khách sạn sang trọng</h3>
                        <p>Mang đến sự thoải mái để bạn tận hưởng chuyến đi.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                        </div>
                        <h3>Hướng dẫn viên thân thiện</h3>
                        <p>Mang đến sự thoải mái để bạn tận hưởng chuyến đi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">

                        {% for rating in ratings %}
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/user.png' %}" alt="" style="width: 100px;">
                                        </div>
                                        <p>{{rating.comment}}</p>
                                        <div class="testmonial_author">
                                            <h3>{{rating.rating}} <i class="fa fa-star-o"
                                                style="color: yellow;"></i></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"The gladdest moment in human life is a departure into unknown lands. </p>
                                        <div class="testmonial_author">
                                            <h3>- Alvaro M.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Travel makes one modest. You see what a tiny place you occupy in the world.
                                        </p>
                                        <div class="testmonial_author">
                                            <h3>- Shrey B.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <!-- <button class="food" value="mỳ quảng" onClick="getResponse()">Mỳ Quảng</button>
    <button class="food" value="Cao lầu">Cao lầu</button> 

    <input type='submit' class='food' value='Mỳ Quảng' onclick='addValue($(this).val())'>
    <input type='submit' class='food' value='Cao lầu' onclick='addValue($(this).val())'> -->

    {% include 'include-files/footer.html' %}


    <!-- Modal -->
    <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="serch_form">
                    <input type="text" placeholder="Search">
                    <button type="submit">search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Chatbot -->
    {% include 'include-files/chatbot.html' %}

    <!-- SCRIPTS -->
    {% include 'include-files/scripts.html' %}
    <!-- <script>
        var $star_rating = $('.star-rating .fa');

        var SetRatingStar = function () {
            return $star_rating.each(function () {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
            });
        };
        $star_rating.on('click', function () {
            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
            return SetRatingStar();
            console.log('hello')
        });

        SetRatingStar();
        $(document).ready(function () {

        });

        function validateForm() {
            var x = document.forms["ratingForm"]["rating"].value;
            if (x == "0") {
                alert("Invalid Input");
                return false;
            }
        }
    </script> -->
    <!-- <script>
        $(document).ready(function(){
            $("#loadMore").on("click", function(){
                var _currentProducts = $(".tour-box").length
                var _limit = $(this).attr('data-limit')
                var _total = $(this).attr('data-total')
                // console.log(currentProducts, limit, total)

                //Start Ajax
                $.ajax({
                    url: '/load-more-tours',
                    data: {
                        limit: _limit,
                        offset: _currentProducts
                    },
                    dataType: 'json',
                    beforeSend: function(){
                        $("#loadMore").attr("disableb", true)
                    },
                    success: function(res){
                        $('#filteredTours').append(res.data)
                        $("#loadMore").attr("disableb", false)

                        var _totalShowing = $(".tour-box").length
                        if(_totalShowing == _total){
                            $("#loadMore").remove()
                        }
                    }
                })
            })
        })
    </script> -->
</body>
</html>