{% load static %}{% static "images" as baseUrl %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>QN Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links -->
    {% include 'include-files/links.html' %}

    <style>
        input[type="CheckBox"] {
            background-color: transparent;
            box-shadow: none !important;
            height: 18px !important;
            width: 30px !important;
            text-align: left;
            margin: 5px 0;
        }
        .require-rating {
            margin-left: 50px;
        }

        .require-rating p {
            color: black;
        }

        .require-rating p a {
            color: #FF4A52;
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <!-- header-start -->
    {% include 'include-files/header.html' %}
    <!-- header-end -->
    <div class="popular_places_area" style="padding: 30px 0;">
        <div class="container">
            <!-- <p style="text-align:left;">
                <span style="float:right;">
                    <a href="{% url 'recommend-places' %}" class="btn"><button
                            style="color:#fff;background-color:#4CAF50;padding:10px">Các điểm đến gợi ý</button></a>
                </span>
            </p> -->
            <!-- <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Places</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
                            hella wolf moon beard words.</p>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-3">
                    <div id="type_check-foods" class="checkboxes">
                        <h3>LOẠI HÌNH</h3>
                        {% for type in types %}
                        <div class="checkbox">
                            <input class="filter-checkbox" type="checkbox" name="check" data-filter="type_place"
                                value="{{type.type_id}}">&nbsp;

                            {{type.name}}
                        </div>

                        <!-- <div class="checkbox">
                                <a href="places"> Tất cả </a>
                            </div>
                            <div class="checkbox">
                                <a href="check-places-vh"> Văn hoá </a>
                            </div>
                            <div class="checkbox">
                                <a href="check-places-tn"> Thiên nhiên </a>
                            </div>
                            <div class="checkbox">
                                <a href="check-places-lq"> Làng Quê </a>
                            </div>
                            <div class="checkbox">
                                <a href="check-places-nn"> Du lịch Nông nghiệp </a>
                            </div> -->
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row" id="filteredPlaces">
                        <p class="ajaxLoader">Loading...</p>
                        {% for place in places %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single_place">
                                <div class="thumb">
                                    <img src="/media/pics/places/{{place.img1}}" alt="" style="height: 160px;">
                                </div>
                                <div class="place_info">
                                    <a href='places/{{place.place_id}}'>
                                        <h4>{{place.dest_name}}</h4>
                                    </a>
                                    <p>{{place.district}}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        <span class="d-flex justify-content-center align-items-center">
                                            {{place.rating}}<i class="fa fa-star-o" data-rating="1"
                                                style="margin-left: 3px;"></i>
                                        </span>
                                        <!-- <span class="d-flex justify-content-center align-items-center">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <a href="#">(20 Review)</a>
                                        </span> -->
                                        <!-- <div class="days">
                                            <i class="fa fa-clock-o"></i>
                                            <a href='destination_details/{{dest.dest_name}}'>{{dest.days}} Days</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="#">More Places</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container">
            <div class="container-fluid">
                <h2> Địa điểm được gợi ý cho bạn</h2>
            </div>
            <hr>
            {% if user.is_authenticated %}
            <div class="row">
                {% for place in place_list %}
                <div class="col-lg-3 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="/media/pics/places/{{place.img1}}" alt="" style="height: 160px;">
                        </div>
                        <div class="place_info">
                            <a href='places/{{place.place_id}}'>
                                <h4>{{place.dest_name}}</h4>
                            </a>
                            <p>{{place.district}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                    {{place.rating}}<i class="fa fa-star-o" data-rating="1"
                                        style="margin-left: 3px;"></i>
                                </span>
                                <!-- <span class="d-flex justify-content-center align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <a href="#">(20 Review)</a>
                                </span> -->
                                <!-- <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href='destination_details/{{dest.dest_name}}'>{{dest.days}} Days</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="require-rating">
                <p>Bạn cần phải <a href="/login">Đăng nhập</a> hoặc <a href="/register">Đăng
                        ký</a> tài khoản mới được gợi ý.</p>    
            </div>
            {% endif %}
        </div>
    </div>
    <!-- <input type="file" id="i_file" value="">
    <input type="button" id="i_submit" value="Submit">
    <br>
    <img src="" width="200" style="display:none;" />
    <br>
    <div id="disp_tmp_path"></div> -->


    <!-- Footer -->
    {% include 'include-files/footer.html' %}


    <!-- Modal -->
    <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="serch_form">
                    <input type="text" placeholder="Search">
                    <button type="submit">search</button>
                </div>
            </div>
        </div>
    </div>

    <!--### CHAT BOT ###-->
    {% include 'include-files/chatbot.html' %}

    <!-- Scripts -->
    {% include 'include-files/scripts.html' %}
</body>

</html>